@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$main-color: #8D448B;
$font-family: "DM Sans", sans-serif;
$mini-font-size: 16px;
$grey-color: #B7BEC9;
$hover-main-color: #743872;