@import "./variables";
@import "./mixins";
@import "./header";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  width: 1350px;
  margin: 0 auto;
  padding: 0;
}
/**
* Hero section style
*/
.hero {
  background: #f6f8fb;
  .hero-wrapper {
    display: flex;
    gap: 43px;
    h1 {
      font-size: 64px;
      font-weight: 700;
      line-height: 80px;
      letter-spacing: -1.5px;
      margin-bottom: 28px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 42px;
      margin-bottom: 28px;
    }
    form {
      margin-bottom: 68px;
      display: flex;
      gap: 15px;
      input {
        border-radius: 8px;
        box-shadow: 0px 10px 50px 0px rgba(48, 98, 145, 0.08);
        background: rgb(255, 255, 255);
        padding: 13px 24px;
        border: none;
        width: 370px;
        color: #02073e;
        font-weight: 400;
        font-size: $mini-font-size;
        &:focus {
          outline: 1px solid #c9c9c9;
        }
      }
      button {
        background-color: $main-color;
        color: #fff;
        border: none;
        font-size: $mini-font-size;
        border-radius: 4px;
        padding: 13px 41px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: $hover-main-color;
        }
      }
    }
    .sponsored {
      display: flex;
      align-items: center;
      gap: 21px;
      h4 {
        color: $grey-color;
        font-size: $mini-font-size;
        font-weight: 400;
        line-height: 42px;
      }
      ul {
        display: flex;
        gap: 28px;
        align-items: center;
        li {
          cursor: pointer;
        }
      }
    }
  }
}

/**
* Meet section style
*/
.meet {
  margin-top: 57px;
  .meet-wrapper {
    h6 {
      @include h6;
      text-align: center;
    }
    .meet-paragraph {
      @include h4;
      text-align: center;
      margin-bottom: 78px;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 60px;
      li {
        article {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 21px;
          img {
            padding: 30px;
            background-color: aqua;
            border-radius: 30%;
            text-align: center;
            width: 110px;
            height: 110px;
            cursor: pointer;
          }
          .shape-0 {
            background: linear-gradient(
              -36.06deg,
              rgb(255, 204, 64) 7.091%,
              rgba(255, 204, 64, 0.5) 88.823%
            );
          }
          .shape-1 {
            background: linear-gradient(
              -39.07deg,
              rgb(37, 217, 217) 10.831%,
              rgba(37, 217, 217, 0.5) 88.698%
            );
          }
          .shape-2 {
            background: linear-gradient(
              -40.8deg,
              rgb(8, 152, 231) 5.175%,
              rgba(8, 152, 231, 0.5) 94.336%
            );
          }
          .shape-3 {
            background: linear-gradient(
              -37.87deg,
              rgb(255, 144, 102) 9.939%,
              rgba(255, 144, 102, 0.5) 91.142%
            );
          }
          h3 {
            color: #0f2137;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: center;
          }
          p {
            color: #343d48;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: center;
          }
        }
      }
    }
  }
}

/**
* Boost section style
*/
.boost {
  margin-top: 130px;
  .boost-wrapper {
    display: flex;
    gap: 109px;
    align-items: center;
    div {
      h2 {
        @include h2;
        width: 454px;
        margin-bottom: 22px;
      }
      p {
        color: $grey-color;
        font-size: 17px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0px;
        margin-bottom: 30px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 22px;
        margin-bottom: 20px;
        li {
          display: flex;
          gap: 10px;
          span {
            color: #02073e;
            font-size: 18px;
            font-weight: 400;
            line-height: 45px;
            letter-spacing: 0px;
          }
        }
      }
      a {
        @include a;
        margin-left: 30px;
      }
    }
  }
}

/**
* Leading section style
*/
.leading {
  margin-top: 160px;
  .leading-wrapper {
    h2 {
      @include h2;
      text-align: center;
      width: 622px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
    p {
      color: #343d48;
      font-size: 17px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0px;
      text-align: center;
      width: 553px;
      margin: 0 auto 10px;
    }
    a {
      @include a;
      margin: 0 auto 50px;
    }
    div {
      text-align: center;
      video {
        width: 1110px;
      }
    }
  }
}

/**
* Why-Customers section style
*/
.why-customers {
  margin-top: 160px;
  .why-customer-wrapper {
    h6 {
      @include h6;
      text-align: center;
    }
    .why-customer-mini-paragraph {
      @include h4;
      text-align: center;
      margin-bottom: 58px;
    }
    .why-customer-paragraph {
      width: 822px;
      margin: 0 auto;
      color: #0f2137;
      font-size: 36px;
      font-weight: 400;
      line-height: 65px;
      letter-spacing: 0px;
      text-align: center;
    }
    ul {
      display: flex;
      margin-top: 100px;
      align-items: center;
      justify-content: center;
      gap: 70px;
      li {
        width: fit-content;
        article {
          display: flex;
          align-items: center;
          gap: 13px;
          div {
            h3 {
              color: #0f2137;
              font-size: 18px;
              font-weight: 500;
              line-height: 30px;
              letter-spacing: 0px;
            }
            p {
              color: #343d48;
              font-size: 15px;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: 0px;
            }
          }
        }
      }
    }
  }
}

/**
* Free customer support section style
*/
.customer-support {
  margin-top: 147px;
  .customer-support-wrapper {
    display: flex;
    gap: 53px;
    align-items: center;
    justify-content: center;
    .customer-support_info {
      width: 525px;
      h2 {
        @include h2;
        margin-bottom: 24px;
      }
      p {
        color: #343d48;
        font-size: 17px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0px;
        margin-bottom: 24px;
      }
      small {
        color: #02073e;
        font-size: 15px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0px;
        opacity: 0.6;
        margin-bottom: 10px;
      }
      a {
        @include a;
        display: block;
      }
    }
  }
}

/**
* Tutorials section style
*/

.tutorials {
  margin-top: 220px;
  background: #f6f8fb;
  padding-top: 57px;
  padding-bottom: 261px;
  .tutorials-wrapper {
    h6 {
      @include h6;
      text-align: center;
    }
    .tutorials-paragraph {
      @include h4;
      text-align: center;
      margin-bottom: 68px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      li {
        article {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          border: 1px solid rgb(243, 244, 245);
          border-radius: 10px;
          background: rgb(255, 255, 255);
          .blog-img {
            width: 100%;
            height: 230px;
            aspect-ratio: 1/1;
          }
          .blog-info {
            padding: 25px 29px;
            h3 {
              color: #0f2137;
              font-size: 20px;
              font-weight: 700;
              line-height: 30px;
              letter-spacing: 0px;
              margin-bottom: 25px;
            }
            a {
              display: flex;
              align-items: center;
              gap: 7px;
              span {
                color: #343d48;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0px;
              }
            }
          }
        }
      }
    }
  }
}

/**
* Hire developer section style
*/
.hire-developer-wrapper {
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 32px 70px;
  border-radius: 10px;
  position: relative;
  top: -86px;
  box-shadow: 0px 4px 15px 3px rgb(118 118 118 / 56%);
  h2 {
    @include h2;
    color: #fff;
    font-size: 36px;
    width: 521px;
  }
  .hire-customer-btn {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    button {
      color: $main-color;
      background-color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 17px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 10%;
      padding: 19px 44px;
      transition: box-shadow 0.4s ease;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 4px 15px 3px #ffffff56;
      }
    }
  }
}
